<po-page-default p-title="Ações">
  <div class="po-row">
    <div class="po-xl-6 po-lg-6 po-md-6 po-sm-6">
      <po-input p-label="Ações" [formControl]="acoesInput"></po-input>
    </div>
  </div>

  <div class="td-page-wrapper" *ngIf="actions$ | async as actions; else elseBlock">
    <div class="po-row">
      <div class="po-md-4" *ngFor="let action of actions">
        <app-card-acoes [acao]="action"></app-card-acoes>
      </div>
    </div>
  </div>
  <ng-template #elseBlock>
    <p>Nenhuma ação encontrada.</p>
  </ng-template>
</po-page-default>
